# NativeScript
hooks/
node_modules/
platforms/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
package-lock.json

App_Resources/iOS/*lproj
App_Resources/Android/src/main/res/values/strings.xml
App_Resources/Android/src/main/res/values-zh

app/*-default.scss
app/default.*.scss
app/*-aqua.scss
app/aqua.*.scss
app/*-blue.scss
app/blue.*.scss
app/*-brown.scss
app/brown.*.scss
app/*-forest.scss
app/forest.*.scss
app/*-lemon.scss
app/lemon.*.scss
app/*-lime.scss
app/lime.*.scss
app/*-orange.scss
app/orange.*.scss
app/*-purple.scss
app/purple.*.scss
app/*-ruby.scss
app/ruby.*.scss
app/*-sky.scss
app/sky.*.scss
**/videos
dist
